.service {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}

.service-images {
    width: 345px;
    margin-top: 4px;
    border-radius: 8px;
    height: 300px;
}